{% extends "base.html" %} {% block main %}
<h2>Página para borrar un usuario</h2>
<table>
  <tbody>
    <tr>
      <th>Nombre de usuario</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>Dirección de correo electrónico</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ user.age }}</td>
    </tr>
  </tbody>
</table>

<form action="{% url 'borrar_user' user.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="borrar" />
</form>

<a href="{% url 'detalle_user' user.id %}">Atras</a>
{% endblock %}